[submodule "/Users/matharden/Apps/slot-picker/src/vendor/govuk_toolkit"]
	path = /Users/matharden/Apps/slot-picker/src/vendor/govuk_toolkit
	url = https://github.com/alphagov/govuk_frontend_toolkit.git
