<label class="SlotPicker-label">
  <input class="SlotPicker-slot" type="checkbox" value="{{ slot }}">
  <strong class="SlotPicker-time">{{ time }}</strong>
  <span class="SlotPicker-duration">{{ duration }}</span>
</label>
