@import "themes/_moj.pvb.sass"
@import "../vendor/govuk_toolkit/stylesheets/_conditionals.scss"
@import "../vendor/govuk_toolkit/stylesheets/_typography.scss"

@import "moj.booking-calendar.sass"

.SlotPicker-timeSlots
  display: none

  &.is-active
    display: block

.SlotPicker-days
  margin-bottom: 10px
  margin-left: 0
  padding: 0

  @include media(false, 768px)
    margin-bottom: 0

.SlotPicker-day
  display: none
  overflow: hidden
  padding: .5em
  list-style: none
  background: $grey-3

  @include media(mobile)
    border-width: 1px 0

  &.is-active
    display: block

.SlotPicker-dayTitle
  @include bold-24
  margin: .2em 0 .3em

.SlotPicker-label
  cursor: pointer
  position: relative
  float: left
  box-sizing: border-box
  min-width: 120px
  margin-right: .5em
  margin-bottom: .5em
  padding: .3em 15px .3em 40px
  font-size: 24px
  line-height: 1.2em
  border: 2px solid $grey-2
  background: $white

  @include media(mobile)
    width: 100%
    padding-top: 10px
    padding-bottom: 10px

    &.is-active
      border-color: $light-blue
      background: $light-blue-25

  &.is-disabled
    color: $grey-2

  &:last-child
    margin-right: 0
    margin-bottom: 0

.SlotPicker-slot
  position: absolute
  top: 50%
  left: 10px
  margin-top: -7px

.SlotPicker-duration
  display: block

  @include media(mobile)
    display: inline

.SlotPicker-choices
  display: none

  &.is-active
    display: block

  ul
    margin: 0
    padding: 10px
    list-style-type: none
    background: $grey-3

    @include media(desktop)
      min-height: 236px

    li
      position: relative
      margin-top: 10px
      padding: 10px
      min-height: 60px
      background: $white
      border: 1px dashed $grey-2

      &:first-child
        margin-top: 0

      .SlotPicker-prompt
        padding: 5px 18%
        text-align: center
        color: $grey-1

        @include media(mobile)
          padding-left: 10%
          padding-right: 10%

      &.is-active
        padding-left: 65px
        padding-right: 80px
        border-style: solid

        @include media(mobile)
          padding-left: 55px

        p
          font-size: 24px

        .SlotPicker-prompt
          display: none

        .SlotPicker-icon--remove,
        .SlotPicker-icon--promote
          display: block

        .SlotPicker-date
          font-weight: bold

        .SlotPicker-position
          display: block
      
      p
        margin: 0

.SlotPicker-promoteHelp
  display: none

  &.is-active
    display: block

.SlotPicker-position
  display: none
  position: absolute
  left: 10px
  height: 100%
  background: $light-blue
  color: $white
  width: 55px
  font-size: 48px
  font-weight: bold
  text-align: center
  margin: -10px 0 0 -10px

  @include media(mobile)
    width: 45px

.SlotPicker-icon
  display: none
  position: absolute
  top: 50%
  right: 10px
  width: 30px
  height: 30px
  margin-top: -15px
  overflow: hidden
  text-indent: 999px
  background: no-repeat 0 -90px

  @include device-pixel-ratio
    background-position: 0 0
    background-size: 100%

.SlotPicker-icon--remove
  background-image: url("images/remove.png")

.SlotPicker-icon--promote
  right: 50px
  background-image: url("images/promote.png")
